<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--
    Some examples of sensors that can be added to the vehicle frame.
    Set the origin of the sensor frames correctly for your application
    Look into the sensor macros in the package uuv_sensor_ros_plugins/urdf for
    more examples or add you own custom sensor units.
  -->

  <!-- Mount a Pose 3D sensor. -->
  <!-- <xacro:default_pose_3d namespace="${namespace}" parent_link="${namespace}/base_link" /> -->

  <!-- IMU Sensor -->
  <xacro:default_imu namespace="${namespace}" parent_link="${namespace}/base_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:default_imu>

  <!-- Pressure Sensor  -->
  <xacro:default_pressure namespace="${namespace}" parent_link="${namespace}/base_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:default_pressure>

  <!-- Beacon Sensor  -->
  <!-- <xacro:default_beacon namespace="${namespace}" parent_link="${namespace}/base_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:default_beacon> -->
  
    <!-- Mount a GPS. -->
  <xacro:default_gps namespace="${namespace}" parent_link="${namespace}/base_link" />

  <!-- Mount a Pose 3D sensor. -->
  <xacro:default_pose_3d_macro
    namespace="${namespace}"
    parent_link="${namespace}/base_link">
    <!--   inertial_reference_frame="${inertial_reference_frame}"> -->
   <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:default_pose_3d_macro>

  <!-- Forward-looking sonar sensor -->
  <xacro:forward_multibeam_p900 namespace="${namespace}" parent_link="${namespace}/base_link">
    <origin xyz="0.0 0 -0.1" rpy="0 0 0"/>
  </xacro:forward_multibeam_p900>
  
  
  <!-- DVL  -->
<xacro:default_dvl_macro
  namespace="${namespace}"
  parent_link="${namespace}/base_link">
<!--   inertial_reference_frame="${inertial_reference_frame}"> -->
  <origin xyz="0 0 0" rpy="0 ${0.5*pi} 0"/>
</xacro:default_dvl_macro>

  <!-- Mount a camera -->
  <!-- <xacro:default_camera namespace="${namespace}" parent_link="${namespace}/base_link" suffix="front">
    <origin xyz="0 0 0.2" rpy="0 0 0"/>
  </xacro:default_camera> -->

  <gazebo reference="bluerov2/base_link">
    <sensor type="ray" name="sonar">
      <pose>0.25 0 0 0 0 0</pose>
      <update_rate>10</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>5</samples>
            <resolution>1.0</resolution>
            <min_angle>-0.025</min_angle>
            <max_angle>0.025</max_angle>
          </horizontal>
          <vertical>
            <samples>5</samples>
            <resolution>1</resolution>
            <min_angle>-0.025</min_angle>
            <max_angle>0.025</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.1</min>
          <max>10</max>
          <resolution>0.02</resolution>
        </range>
      </ray>
      <plugin filename="libgazebo_ros_range.so" name="gazebo_ros_range">
        <gaussianNoise>0.005</gaussianNoise>
        <alwaysOn>true</alwaysOn>
        <updateRate>10</updateRate>
        <topicName>sonar</topicName>
        <frameName>bluerov2/sonar_link</frameName>
        <fov>0.05</fov>
        <radiation>ultrasound</radiation>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo reference="bluerov2/base_link">
    <sensor type="camera" name="camera_out">
      <update_rate>30.0</update_rate>
      <camera name="head">
        <!-- <pose>4 -4 2 0.0 0.275643 2.356190</pose> -->
        <pose>.2 0 0 0 0 0</pose>
        <view_controller>orbit</view_controller> 
        <horizontal_fov>1.3962634</horizontal_fov> 
        <image>
          <width>800</width>
          <height>600</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
      </camera>
      <plugin name="camera_controller" filename="libCameraBboxPlugin.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>camera_out</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_link</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>

    <sensor type="contact" name="your_link_contact_sensor">
      <contact>
        <collision>bluerov2/base_link_collision</collision>
        <!-- <topic>/collision_tank</topic> -->
        <!-- <alwaysOn>true</alwaysOn> -->
        <!-- <updateRate>10.0</updateRate> -->
      </contact>
      <plugin name="gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>10.0</updateRate>
      <bumperTopicName>/bluerov2/collision</bumperTopicName>
      <frameName>world</frameName>
      </plugin>
    </sensor>

  </gazebo>

  <link name="bluerov2/camera_link">
    <inertial>
      <mass value="0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
  </link>

  <joint name="bluerov2_camera" type="fixed">
    <parent link="bluerov2/base_link"/>
    <child link="bluerov2/camera_link"/>
    <origin xyz=".2 0 0" rpy="-1.57 0 -1.57"/>
  </joint>

  <link name="bluerov2/sonar_link">
    <inertial>
      <mass value="0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
  </link>

  <joint name="bluerov2_sonar" type="fixed">
    <parent link="bluerov2/base_link"/>
    <child link="bluerov2/sonar_link"/>
    <origin xyz=".1 0 0" rpy="0 0 0"/>
  </joint>
  

</robot>
